body {
    font-family: 'Press Start 2P', cursive;    
    text-align: center;
    background: url('/background.png') repeat-x;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #333;
}
p {
    font-size: 18px;
    color: #666;
}
.button-container a {
    display: inline-block;
}
button {
    font-family: 'Press Start 2P', cursive;  
    background: url('/ButtonNemBenyomva.png') no-repeat center;
    background-size: contain;
    width: 128px;
    height: 108px;
    border: none;
    cursor: pointer;
    color: #4dd0e1;
    font-size: 60%;
    font-weight: bold;
    text-align: center;
    display: block;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
button:active {
    background: url('/ButtonBenyomva.png') no-repeat center;
    background-size: contain;
}
a {
    text-decoration: none;
}

.styled-input {
    font-family: 'Press Start 2P', cursive;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    border: 3px solid #4dd0e1;
    border-radius: 0;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
}
.styled-input:focus {
    border-color: #29b6f6;
}
.styled-input::placeholder {
    color: #29b6f6;
}
.kerdezo {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-90%, -50%);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 256px;
    height: 256px;
}
.chatbox {
    position: fixed;
    top: 15%;
    left: 90%;
    transform: translate(-90%, -50%);
    width: 256px;
    height: 256px;
    color: white;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    display: inline-block;
}
.kerdes {
    padding: ;
    width: 256px;
    height: 256px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-image: url(chatbox.png);
    background-repeat: no-repeat;
    background-size: contain;
    right: 10%;
    position: absolute;
    color: #29b6f6;
    font-size: 16px;
    font-weight: bold;
}